.body{
  text-align: center;
  padding: 20px;
}
.card-bg{
  height: auto;
  display: flex;
  flex-direction: column;
}
.imgtitle {
  height: 150px;
}
.quotecard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  height: 200px;
  max-height: 200px;
  margin: 20px;
}
.quotetext {
  font-size: 25px;
  width: 30rem;
  margin: 20px;
  text-align: right;
}

.character {
  font-size: 15px;
  font-weight: bold;
}

.btn {
  background:yellow;
  border: 1px solid yellow;
  border-radius: 4px;
  color: black;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}
